.row{font-family:'CourierNew',Courier,monospace;}
#sidebar{background-color:rgb(252,248,248);height:100vh;display:flex;justify-content:center;flex-direction:column;position:relative;border: 2px dotted black}
#img1{border-radius:50%;width:125px;height:125px;position:absolute;top:15px;right:56px;border: 1px dotted black;}
#divName{top:160px;right:46px}
#spanLink{left:40px;bottom:80px;position: absolute;}
#githubLink,#mailLink,#linkedinLink{border-radius:50%;width:40px;height:40px;}
.divsStyle{position:absolute;display:flex;justify-content:center;align-items:center;width:60px;height:60px;border-radius:50%;background-color:aliceblue;right:5px;}
.pStyle{position:absolute;color:whitesmoke;right:80px;}
.cardsStyle{width:380px;height:200px;background-size:cover;border-radius:12px;position:relative}
@media screen and (max-width:1200px) {
    #sidebar{
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #img1{
        position: static;
        float: left;
        width:100px;
        height:100px;
        margin: auto;
    }#divName{
        display: none;
    }#spanLink{
        position: static;
        margin: auto;

    }
    .nav{
        display: inline;
        margin: 0;
        padding: 0;
        display: flex;

    }.pagesDiv{
        margin: auto;

    }
}